html{
    background-color: #333 !important;
}

header{
    text-align: center;
    background-color: #333; 
    color: #fff;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace;
}

header h1 {
    padding-left: 50px !important;
    font-size: 4em;
}
body {
    margin: 0;
    background-color: #333!important; 
    color: #fff;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace;
}


nav {
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    height: 60px; 
    background-color: #292828;
    overflow: hidden;
    margin-bottom: 5px;
    border: 3px solid black;
    border-radius: 8px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 160px;
    margin-top: 10px;
    margin-bottom: 0 auto;
}

a {
    text-decoration: none !important;
    color: whitesmoke !important;
    font-weight: bold;
    font-size: 18px !important;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace !important;
    transition: color 0.3s !important;
}

a:hover {
    color: #5ed63d !important;
}

.carousel-container {
    position: relative;
}

.carousel-inner{
    border: 3px solid rgb(6, 6, 6) !important; 
}

.carousel-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 38px;
    text-align: center;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace !important;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #4d4d4d;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace;
}

.card {
    width: 400px;
    margin: 20px;
    border: 3px solid rgb(6, 6, 6) !important;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #292828 !important;
    color: white !important;
}

.card h3, p {
    text-align: center !important;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.story {
    margin-top: 20px;
    margin-bottom: 10px;

}

.aboutp {
    margin: auto;
    background-color: #292828;
    width: 80%;
    text-align: center;
    color: white;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace !important;
    border: 3px solid rgb(6, 6, 6) !important;
    margin-top: 2%;
    border-radius: 8px;
}

.aboutp img {
    border-radius: 8px;
    height: 400px;
    width: auto;
    margin: auto;
    margin-top: 10px !important;
}

iframe {
    height: 500px;
    width: 90%;
    border: 3px solid rgb(6, 6, 6) !important;
    border-radius: 8px;
}

form {
    margin: auto;
    background-color: #292828;
    width: 80%;
    text-align: center;
    color: white;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace !important;
    border: 3px solid rgb(6, 6, 6) !important;
    margin-top: 5%;
    border-radius: 8px;
    padding-bottom: 5px;
}

form, h2 {
    text-align: center;
    color: white !important;
}

form, input, textarea {
    width: 80% !important;
    margin: auto !important;
}

footer{
    width: 40%;
    border: 3px solid rgb(6, 6, 6) !important;
    margin: auto;
    border-radius: 8px;
    background-color: #292828;
    padding-top: 5px;
    margin-top: 20px !important;
}

footer, h4 {
    text-align: center;
    color: white;
    font-family: 'Consolas', 'Menlo', 'Monaco', monospace !important;
    margin-top: 10px;
}

@media screen and (max-width: 900px){
    li{
        margin: 10px 70px !important;
    }

    header h1{
        padding-right: 40px;
        font-size: 2.3em;
    }

    .aboutp img {
        margin: auto;
        height: 200px;
        width: auto;
        margin-top: 10px !important; 
    }

    footer {
        width: 60%;
    }
}